.signup-page {
  display: grid;

  justify-content: space-evenly;

  margin: 0 auto;

  max-width: 420px;
  height: 850px;

  background-color: white;
  border-radius: 20px;
}
.signip {
  display: flex;
  flex-wrap: wrap;
}
.signup-page .box-password {
  display: flex;
  flex-direction: column;
  align-items: start;
  span {
    text-align: start;
    font-size: 20px;
    margin-bottom: 12px;
  }
  .box-input {
    position: relative;

    img {
      position: absolute;
      right: 25px;
      top: 20px;
    }
  }
}
.signup-page .error-valid {
  color: red;
  font-size: 24px;
  line-height: 28px;
}

.signup-page .error-input {
  border-color: red;
}
.signup-page .signup_header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--100, #121212);
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;

  gap: 10px;

  border-radius: 20px;
}
.wrapper_signup {
  display: flex;
  a {
    color: #775ce5;
  }
}

.description {
  color: var(--Grey-text, #757477);
  text-align: center;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100% 14px;
}
.input_email {
  display: flex;
  align-items: flex-start;

  align-self: stretch;

  border-radius: 12px;
  border: 1px solid var(--Purple-main, #775ce5);
}

.input_password {
  display: flex;

  align-items: center;
  align-self: stretch;

  border-radius: 12px;
  border: 1px solid var(--Grey-Border, #b6b5b8);
}
.email,
.password {
  text-align: start;
  font-size: 20px;
}
